<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.ocmanager.persistence.mapper.UserMapper">
	<!-- get all users -->
	<select id="selectAllUsers" resultType="com.asiainfo.ocmanager.persistence.model.User">
		select * from users order
		by username
	</select>
	<!-- get user by id -->
	<select id="selectUserById" parameterType="java.lang.String"
		resultType="com.asiainfo.ocmanager.persistence.model.User">
		select * from users where id=#{id}
	</select>
	<!-- get user by name -->
	<select id="selectUserByName" parameterType="java.lang.String"
		resultType="com.asiainfo.ocmanager.persistence.model.User">
		select * from users where username=#{username}
	</select>
	<!-- create user -->
	<insert id="insertUser" keyProperty="id"
		parameterType="com.asiainfo.ocmanager.persistence.model.User">
		insert into users (id, username, password, email, phone,
		description, createdUser)
		values (#{id}, #{username},
		PASSWORD(#{password}), #{email}, #{phone}, #{description},
		#{createdUser})
	</insert>
	<!-- update user by id -->
	<update id="updateUser" parameterType="com.asiainfo.ocmanager.persistence.model.User">
		update users set
		email = #{email},
		phone = #{phone},
		description = #{description},
		createdUser = #{createdUser}
		where id = #{id}
	</update>
	<!-- update user by name -->
	<update id="updateUserByName" parameterType="com.asiainfo.ocmanager.persistence.model.User">
		update users set
		email = #{email},
		phone = #{phone},
		description = #{description},
		createdUser = #{createdUser}
		where username = #{username}
	</update>
	<!-- update user password by id-->
	<update id="updateUserPassword" parameterType="java.lang.String">
		update users set
		password = PASSWORD(#{password})
		where id = #{id}
	</update>
	<!-- update user password by name -->
	<update id="updateUserPasswordByName" parameterType="java.lang.String">
		update users set
		password = PASSWORD(#{password})
		where username = #{username}
	</update>
	<!-- delete user by id-->
	<delete id="deleteUser">
		delete from users where id = #{id}
	</delete>
	<!-- delete user by name -->
	<delete id="deleteUserByName">
		delete from users where username = #{username}
	</delete>
	<!-- get user by id and password for validate password -->
	<select id="selectUserByIdAndPwd" parameterType="java.lang.String"
		resultType="com.asiainfo.ocmanager.persistence.model.User">
		select * from users where id=#{id} and
		password=PASSWORD(#{password})
	</select>
	<!-- get user by name and password for validate password -->
	<select id="selectUserByNameAndPwd" parameterType="java.lang.String"
		resultType="com.asiainfo.ocmanager.persistence.model.User">
		select * from users where username=#{username} and
		password=PASSWORD(#{password})
	</select>
</mapper>